<div class="container">
    <div class="row">
        <div class="card-group">
            <div *ngFor="let c of cards">
                <div class="card mt-4 mb-2" style="width:350px; height: auto; margin-right: 15px;">
                    <img src="{{c.image_url}}" class="img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{c.name | uppercase}}</h4>
                        <p class="card-text">{{c.description}}</p>
                        <button type="button" class="btn btn-primary" routerLink="movie/{{c.id}}"data-toggle="modal" data-target="#myModal2">Read
                            More
                        </button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
