.navbar-brand{
    padding: 1vw;
    font-size: 25px;
    background-color: darkred;
}


.navbar-dark .navbar-nav .nav-link{
    color: rgb(206, 201, 201);
    font-size: 18px;
}

.nav-item .active{
    border-bottom: 2p solid darkred;
    height: 100%;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
}

.navbar-brand{
    color: white;
}



.navbar-nav .dropdown-menu{
    background-color: black;
}

.dropdown-item{
    color: rgb(206, 201, 201);
}

.navbar {
    padding: 0;
}